# 19/05/2024 - Validating Cluster Tiles

In [1]:
# NB! Only run this once
%cd ..
%load_ext autoreload
%autoreload 2

C:\Users\emily\Documents\repos\measuring-quality-of-life-gauteng

C:\Users\emily\AppData\Local\pypoetry\Cache\virtualenvs\measuring-quality-of-life-OxfVlamN-py3.10\lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import geopandas as gpd

In [3]:
clusters = gpd.read_file("outputs/matched/gauteng-qol-cluster-tiles.geojson")

Total number of clusters

In [4]:
clusters

,tile,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
0,2018-04-1179-868_00_05.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.33281, 27.25708 -26.322..."
1,2018-04-1179-868_00_06.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.34265, 27.25708 -26.332..."
2,2018-04-1179-868_00_06.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.34265, 27.25708 -26.332..."
3,2018-04-1179-868_00_07.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.35250, 27.25708 -26.342..."
4,2018-04-1179-868_00_07.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.35250, 27.25708 -26.342..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44295,2018-04-1184-870_15_12.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.08639, 28.30078 -26.076..."
44296,2018-04-1184-870_15_13.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.09625, 28.30078 -26.086..."
44297,2018-04-1184-870_15_14.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.10612, 28.30078 -26.096..."
44298,2018-04-1184-870_15_15.tiff,2018,79700024,9.131254,6.585440,6.082982,6.913788,8.364530,5.572220,7.393155,73.165929,"POLYGON ((28.30078 -26.11599, 28.30078 -26.106..."
44299,2018-04-1184-870_15_15.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.11599, 28.30078 -26.106..."

2018 clusters

In [5]:
clusters[clusters["year"] == "2018"]

,tile,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
0,2018-04-1179-868_00_05.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.33281, 27.25708 -26.322..."
1,2018-04-1179-868_00_06.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.34265, 27.25708 -26.332..."
2,2018-04-1179-868_00_06.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.34265, 27.25708 -26.332..."
3,2018-04-1179-868_00_07.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.35250, 27.25708 -26.342..."
4,2018-04-1179-868_00_07.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.35250, 27.25708 -26.342..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44295,2018-04-1184-870_15_12.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.08639, 28.30078 -26.076..."
44296,2018-04-1184-870_15_13.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.09625, 28.30078 -26.086..."
44297,2018-04-1184-870_15_14.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.10612, 28.30078 -26.096..."
44298,2018-04-1184-870_15_15.tiff,2018,79700024,9.131254,6.585440,6.082982,6.913788,8.364530,5.572220,7.393155,73.165929,"POLYGON ((28.30078 -26.11599, 28.30078 -26.106..."
44299,2018-04-1184-870_15_15.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.11599, 28.30078 -26.106..."

2021 clusters

In [6]:
clusters[clusters["year"] == "2021"]

,tile,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
393,2021-01-1186-874_00_00.tiff,2021,79900099,5.639117,3.542202,3.816247,5.024410,8.484503,6.364435,7.118321,54.754593,"POLYGON ((28.48755 -25.33410, 28.48755 -25.324..."
394,2021-01-1186-874_00_01.tiff,2021,79900099,5.639117,3.542202,3.816247,5.024410,8.484503,6.364435,7.118321,54.754593,"POLYGON ((28.48755 -25.34403, 28.48755 -25.334..."
395,2021-01-1186-874_00_02.tiff,2021,79900099,5.639117,3.542202,3.816247,5.024410,8.484503,6.364435,7.118321,54.754593,"POLYGON ((28.48755 -25.35395, 28.48755 -25.344..."
396,2021-01-1186-874_00_03.tiff,2021,79900099,5.639117,3.542202,3.816247,5.024410,8.484503,6.364435,7.118321,54.754593,"POLYGON ((28.48755 -25.36388, 28.48755 -25.353..."
397,2021-01-1186-874_00_04.tiff,2021,79900099,5.639117,3.542202,3.816247,5.024410,8.484503,6.364435,7.118321,54.754593,"POLYGON ((28.48755 -25.37381, 28.48755 -25.363..."
...,...,...,...,...,...,...,...,...,...,...,...,...
43330,2021-01-1184-864_09_00.tiff,2021,74202001,7.168509,3.955123,4.953125,6.367484,8.194272,7.146593,6.407566,62.341037,"POLYGON ((28.23486 -26.91227, 28.23486 -26.902..."
43331,2021-01-1184-864_09_01.tiff,2021,74202001,7.168509,3.955123,4.953125,6.367484,8.194272,7.146593,6.407566,62.341037,"POLYGON ((28.23486 -26.92207, 28.23486 -26.912..."
43332,2021-01-1184-864_09_02.tiff,2021,74202001,7.168509,3.955123,4.953125,6.367484,8.194272,7.146593,6.407566,62.341037,"POLYGON ((28.23486 -26.93187, 28.23486 -26.922..."
43333,2021-01-1184-864_10_00.tiff,2021,74202001,7.168509,3.955123,4.953125,6.367484,8.194272,7.146593,6.407566,62.341037,"POLYGON ((28.24585 -26.91227, 28.24585 -26.902..."
43334,2021-01-1184-864_10_01.tiff,2021,74202001,7.168509,3.955123,4.953125,6.367484,8.194272,7.146593,6.407566,62.341037,"POLYGON ((28.24585 -26.92207, 28.24585 -26.912..."

Total number of tiles

In [7]:
import glob
len(glob.glob1("outputs/tiles","2021*.tiff"))

23296

In [8]:
len(glob.glob1("outputs/tiles","2018*.tiff"))

23296

In [9]:
len(glob.glob1("outputs/tiles","*.tiff"))

46592

In [10]:
23296*2

46592

So the total number of tiles is more than the clusters - which means some tiles just don't overlap

#### Analysis of clusters

Year and tile

In [11]:
clusters[["year", "tile"]].groupby("year").count()

       tile
year
2018  22150
2021  22150

Year and ward code

In [12]:
clusters[["year", "tile", "ward_code"]].groupby(["year", "ward_code"]).count()

                tile
year ward_code
2018 74201001     38
     74201002      6
     74201003     11
     74201004     28
     74201005     20
...              ...
2021 79900103     68
     79900104     29
     79900105   1034
     79900106     35
     79900107     14

[1058 rows x 1 columns]

In [13]:
529*2

1058

Tiles repeated?

In [14]:
grouped_by_tile = clusters[["tile", "year"]].groupby("tile").count()
grouped_by_tile

                             year
tile
2018-04-1178-866_14_00.tiff     1
2018-04-1178-866_14_01.tiff     1
2018-04-1178-866_14_02.tiff     1
2018-04-1178-866_14_03.tiff     1
2018-04-1178-866_15_00.tiff     1
...                           ...
2021-01-1189-873_07_05.tiff     1
2021-01-1189-873_07_06.tiff     1
2021-01-1189-873_08_04.tiff     1
2021-01-1189-873_08_05.tiff     1
2021-01-1189-873_08_06.tiff     1

[31504 rows x 1 columns]

In [15]:
grouped_by_tile[grouped_by_tile["year"] > 1]

                             year
tile
2018-04-1178-867_14_07.tiff     2
2018-04-1178-867_15_06.tiff     2
2018-04-1178-867_15_07.tiff     2
2018-04-1178-868_15_05.tiff     2
2018-04-1178-868_15_06.tiff     2
...                           ...
2021-01-1187-872_09_05.tiff     2
2021-01-1187-872_09_07.tiff     2
2021-01-1187-872_09_13.tiff     2
2021-01-1187-872_09_14.tiff     2
2021-01-1187-872_09_15.tiff     2

[9642 rows x 1 columns]

## Real Code

In [21]:
grouped_by_tile = clusters.groupby("tile").count()
grouped_by_tile

,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
tile,,,,,,,,,,,
2018-04-1178-866_14_00.tiff,1,1,1,1,1,1,1,1,1,1,1
2018-04-1178-866_14_01.tiff,1,1,1,1,1,1,1,1,1,1,1
2018-04-1178-866_14_02.tiff,1,1,1,1,1,1,1,1,1,1,1
2018-04-1178-866_14_03.tiff,1,1,1,1,1,1,1,1,1,1,1
2018-04-1178-866_15_00.tiff,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2021-01-1189-873_07_05.tiff,1,1,1,1,1,1,1,1,1,1,1
2021-01-1189-873_07_06.tiff,1,1,1,1,1,1,1,1,1,1,1
2021-01-1189-873_08_04.tiff,1,1,1,1,1,1,1,1,1,1,1
2021-01-1189-873_08_05.tiff,1,1,1,1,1,1,1,1,1,1,1
2021-01-1189-873_08_06.tiff,1,1,1,1,1,1,1,1,1,1,1

In [36]:
multi_ward_tiles = grouped_by_tile[grouped_by_tile["year"] > 1].reset_index()
multi_ward_tiles

,tile,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
0,2018-04-1178-867_14_07.tiff,2,2,2,2,2,2,2,2,2,2,2
1,2018-04-1178-867_15_06.tiff,2,2,2,2,2,2,2,2,2,2,2
2,2018-04-1178-867_15_07.tiff,2,2,2,2,2,2,2,2,2,2,2
3,2018-04-1178-868_15_05.tiff,2,2,2,2,2,2,2,2,2,2,2
4,2018-04-1178-868_15_06.tiff,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
9637,2021-01-1187-872_09_05.tiff,2,2,2,2,2,2,2,2,2,2,2
9638,2021-01-1187-872_09_07.tiff,2,2,2,2,2,2,2,2,2,2,2
9639,2021-01-1187-872_09_13.tiff,2,2,2,2,2,2,2,2,2,2,2
9640,2021-01-1187-872_09_14.tiff,2,2,2,2,2,2,2,2,2,2,2
9641,2021-01-1187-872_09_15.tiff,2,2,2,2,2,2,2,2,2,2,2

In [38]:
number_tiles_dropped = len(multi_ward_tiles)
number_tiles_dropped

9642

In [39]:
number_rows_dropped = multi_ward_tiles["year"].sum()
number_rows_dropped

22438

In [44]:
len(clusters)

44300

In [41]:
remaining_rows = len(clusters) - number_rows_dropped
remaining_rows

21862

In [46]:
dropped_data = clusters[clusters["tile"].isin(multi_ward_tiles["tile"])] 
dropped_data

,tile,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
1,2018-04-1179-868_00_06.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.34265, 27.25708 -26.332..."
2,2018-04-1179-868_00_06.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.34265, 27.25708 -26.332..."
3,2018-04-1179-868_00_07.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.35250, 27.25708 -26.342..."
4,2018-04-1179-868_00_07.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.35250, 27.25708 -26.342..."
16,2018-04-1179-868_01_07.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.26807 -26.35250, 27.26807 -26.342..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44281,2018-04-1184-870_14_15.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.28979 -26.11599, 28.28979 -26.106..."
44288,2018-04-1184-870_15_06.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.02717, 28.30078 -26.017..."
44289,2018-04-1184-870_15_06.tiff,2018,79700089,8.125682,3.050041,5.572904,7.071220,8.146313,5.814859,6.633385,63.490776,"POLYGON ((28.30078 -26.02717, 28.30078 -26.017..."
44298,2018-04-1184-870_15_15.tiff,2018,79700024,9.131254,6.585440,6.082982,6.913788,8.364530,5.572220,7.393155,73.165929,"POLYGON ((28.30078 -26.11599, 28.30078 -26.106..."
44299,2018-04-1184-870_15_15.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.11599, 28.30078 -26.106..."

In [47]:
data_without_overlap = clusters[~clusters["tile"].isin(multi_ward_tiles["tile"])] 
data_without_overlap

,tile,year,ward_code,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
0,2018-04-1179-868_00_05.tiff,2018,74804001,8.447754,2.686076,5.115498,6.728948,7.584857,4.870927,8.116613,62.041629,"POLYGON ((27.25708 -26.33281, 27.25708 -26.322..."
5,2018-04-1179-868_00_08.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.36234, 27.25708 -26.352..."
6,2018-04-1179-868_00_09.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.37219, 27.25708 -26.362..."
7,2018-04-1179-868_00_10.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.38203, 27.25708 -26.372..."
8,2018-04-1179-868_00_11.tiff,2018,74804012,8.430467,4.163434,5.253326,6.159752,7.595147,6.096639,6.007039,63.701792,"POLYGON ((27.25708 -26.39187, 27.25708 -26.382..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44293,2018-04-1184-870_15_10.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.06665, 28.30078 -26.056..."
44294,2018-04-1184-870_15_11.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.07652, 28.30078 -26.066..."
44295,2018-04-1184-870_15_12.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.08639, 28.30078 -26.076..."
44296,2018-04-1184-870_15_13.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.09625, 28.30078 -26.086..."
44297,2018-04-1184-870_15_14.tiff,2018,79700025,7.291546,3.690856,5.353527,6.474376,8.831612,5.049465,6.814553,61.696010,"POLYGON ((28.30078 -26.10612, 28.30078 -26.096..."