# 19/05/2024 - Validating Cluster Tiles

In [1]:
# NB! Only run this once
%cd ..
%load_ext autoreload
%autoreload 2

C:\Users\emily\Documents\repos\measuring-quality-of-life-gauteng

C:\Users\emily\AppData\Local\pypoetry\Cache\virtualenvs\measuring-quality-of-life-OxfVlamN-py3.10\lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import geopandas as gpd

In [3]:
clusters = gpd.read_file("outputs/matched/gauteng-qol-cluster-tiles.geojson")

Total number of clusters

In [4]:
clusters

,tile,year,index_right,ward_code,counts,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
0,2018-04-1178-866_14_00.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.59835, 27.23511 -26.588..."
1,2018-04-1178-866_14_01.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.60817, 27.23511 -26.598..."
2,2018-04-1178-866_14_02.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.61800, 27.23511 -26.608..."
3,2018-04-1178-866_14_03.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.62782, 27.23511 -26.618..."
4,2018-04-1178-866_15_00.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.24609 -26.59835, 27.24609 -26.588..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44295,2021-01-1180-866_15_10.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.69655, 27.59766 -26.686..."
44296,2021-01-1180-866_15_11.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.70636, 27.59766 -26.696..."
44297,2021-01-1180-866_15_13.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.72599, 27.59766 -26.716..."
44298,2021-01-1180-866_15_14.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.73580, 27.59766 -26.725..."
44299,2021-01-1180-866_15_15.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.74561, 27.59766 -26.735..."

2018 clusters

In [6]:
clusters[clusters["year"] == "2018"]

,tile,year,index_right,ward_code,counts,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
0,2018-04-1178-866_14_00.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.59835, 27.23511 -26.588..."
1,2018-04-1178-866_14_01.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.60817, 27.23511 -26.598..."
2,2018-04-1178-866_14_02.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.61800, 27.23511 -26.608..."
3,2018-04-1178-866_14_03.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.23511 -26.62782, 27.23511 -26.618..."
4,2018-04-1178-866_15_00.tiff,2018,342,74804022,36,6.352328,2.278552,5.703940,6.347574,8.197823,4.004354,7.607461,56.222736,"POLYGON ((27.24609 -26.59835, 27.24609 -26.588..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43097,2018-04-1189-873_07_05.tiff,2018,268,79900105,31,6.799984,3.625778,4.394688,6.582335,7.335321,4.849920,6.113209,56.324795,"POLYGON ((29.09180 -25.54244, 29.09180 -25.532..."
43098,2018-04-1189-873_07_06.tiff,2018,268,79900105,31,6.799984,3.625778,4.394688,6.582335,7.335321,4.849920,6.113209,56.324795,"POLYGON ((29.09180 -25.55235, 29.09180 -25.542..."
43099,2018-04-1189-873_08_04.tiff,2018,268,79900105,31,6.799984,3.625778,4.394688,6.582335,7.335321,4.849920,6.113209,56.324795,"POLYGON ((29.10278 -25.53253, 29.10278 -25.522..."
43100,2018-04-1189-873_08_05.tiff,2018,268,79900105,31,6.799984,3.625778,4.394688,6.582335,7.335321,4.849920,6.113209,56.324795,"POLYGON ((29.10278 -25.54244, 29.10278 -25.532..."
43101,2018-04-1189-873_08_06.tiff,2018,268,79900105,31,6.799984,3.625778,4.394688,6.582335,7.335321,4.849920,6.113209,56.324795,"POLYGON ((29.10278 -25.55235, 29.10278 -25.542..."

2021 clusters

In [7]:
clusters[clusters["year"] == "2021"]

,tile,year,index_right,ward_code,counts,services,socioeconomic_status,government_satisfaction,life_satisfaction,health,safety,participation,qol_index,geometry
458,2021-01-1180-867_00_00.tiff,2021,863,74804014,26,6.648702,5.047371,3.064678,6.887205,7.688962,5.540951,6.538462,58.112228,"POLYGON ((27.43286 -26.44107, 27.43286 -26.431..."
459,2021-01-1180-867_00_01.tiff,2021,863,74804014,26,6.648702,5.047371,3.064678,6.887205,7.688962,5.540951,6.538462,58.112228,"POLYGON ((27.43286 -26.45090, 27.43286 -26.441..."
460,2021-01-1180-867_00_02.tiff,2021,863,74804014,26,6.648702,5.047371,3.064678,6.887205,7.688962,5.540951,6.538462,58.112228,"POLYGON ((27.43286 -26.46074, 27.43286 -26.450..."
461,2021-01-1180-867_00_03.tiff,2021,863,74804014,26,6.648702,5.047371,3.064678,6.887205,7.688962,5.540951,6.538462,58.112228,"POLYGON ((27.43286 -26.47057, 27.43286 -26.460..."
462,2021-01-1180-867_00_04.tiff,2021,863,74804014,26,6.648702,5.047371,3.064678,6.887205,7.688962,5.540951,6.538462,58.112228,"POLYGON ((27.43286 -26.48041, 27.43286 -26.470..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44295,2021-01-1180-866_15_10.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.69655, 27.59766 -26.686..."
44296,2021-01-1180-866_15_11.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.70636, 27.59766 -26.696..."
44297,2021-01-1180-866_15_13.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.72599, 27.59766 -26.716..."
44298,2021-01-1180-866_15_14.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.73580, 27.59766 -26.725..."
44299,2021-01-1180-866_15_15.tiff,2021,928,74201025,20,7.389113,3.290392,3.304798,6.897240,6.495577,6.780579,5.725821,56.572184,"POLYGON ((27.59766 -26.74561, 27.59766 -26.735..."

Total number of tiles

In [9]:
import glob
len(glob.glob1("outputs/tiles","2021*.tiff"))

23296

In [10]:
len(glob.glob1("outputs/tiles","2018*.tiff"))

23296

In [11]:
len(glob.glob1("outputs/tiles","*.tiff"))

46592

In [12]:
23296*2

46592

So the total number of tiles is more than the clusters - which means some tiles just don't overlap

#### Analysis of clusters

Year and tile

In [16]:
clusters[["year", "tile"]].groupby("year").count()

       tile
year
2018  22150
2021  22150

Year and ward code

In [18]:
clusters[["year", "tile", "ward_code"]].groupby(["year", "ward_code"]).count()

                tile
year ward_code
2018 74201001     38
     74201002      6
     74201003     11
     74201004     28
     74201005     20
...              ...
2021 79900103     68
     79900104     29
     79900105   1034
     79900106     35
     79900107     14

[1058 rows x 1 columns]

In [19]:
529*2

1058

Tiles repeated?

In [26]:
grouped_by_tile = clusters[["tile", "year"]].groupby("tile").count()
grouped_by_tile

                             year
tile
2018-04-1178-866_14_00.tiff     1
2018-04-1178-866_14_01.tiff     1
2018-04-1178-866_14_02.tiff     1
2018-04-1178-866_14_03.tiff     1
2018-04-1178-866_15_00.tiff     1
...                           ...
2021-01-1189-873_07_05.tiff     1
2021-01-1189-873_07_06.tiff     1
2021-01-1189-873_08_04.tiff     1
2021-01-1189-873_08_05.tiff     1
2021-01-1189-873_08_06.tiff     1

[31504 rows x 1 columns]

In [27]:
grouped_by_tile[grouped_by_tile["year"] > 1]

                             year
tile
2018-04-1178-867_14_07.tiff     2
2018-04-1178-867_15_06.tiff     2
2018-04-1178-867_15_07.tiff     2
2018-04-1178-868_15_05.tiff     2
2018-04-1178-868_15_06.tiff     2
...                           ...
2021-01-1187-872_09_05.tiff     2
2021-01-1187-872_09_07.tiff     2
2021-01-1187-872_09_13.tiff     2
2021-01-1187-872_09_14.tiff     2
2021-01-1187-872_09_15.tiff     2

[9642 rows x 1 columns]